body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 2rem 0;
}

section {
    text-align: center;
}

.projetos {
    padding: 40px 0px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
}

.projeto {
    min-width: 100px;
    max-width: 420px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.projeto img {
    max-width: 100%;
    max-height: 200px;
    width: 80vw;
}